<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" routerLink="/main"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- -->
  <div class="frame-outline">
    <div class="camera-frame-outline">
      <ion-icon name="camera-outline" size="large" color="primary"></ion-icon>
    </div>
  </div>

  <div class="menu-list">
    <ion-icon name="camera-reverse-outline" size="large"></ion-icon>
  </div>

  <div class="images-container">
    <img id="open-hc-wm" src="https://drive.google.com/uc?id=1-JCNRkLMBCsZEbjKY28wFIrIau_m3Bly"/>
    <img id="open-hs-wm" src="https://drive.google.com/uc?id=1YSMTf_M3FhRourY9HrMZjMMFIuNiJWuY">
    <img id="open-hc-mn"src="https://drive.google.com/uc?id=1Ls4BlxJtTIw9b9gwxIcvhhjVryI1_x93"/>
    <img id="open-hs-mn" src="https://drive.google.com/uc?id=1G4m5vRHQi3GtFhfVuX5FRYhyBViQBZPf"/>
  </div>
  
  <!-- option A -->
  <ion-modal
    trigger="open-hc-wm"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-label>Haircolor women</ion-label>
          
          <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1OMh4Cs_mH9liTJh-dS2zITL0HPjw395w" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=16CS3RefnEY-OADdZZLOaVPXcLVujnNTg" alt="here"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1IbDvJuc3a9ut45jGqYH_PNMg2h3Vn9CJ" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1369f8RcsUo_SnRC0ZnVMI2nHvvIsyWR4" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1e9MrfOu1XHVbPvTaqzMPiUua3WZ-LsVw" alt="here"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1CtEY1xFfTKYwytws5Zma4Q5JNYDUXIJs" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1i1Pb8d6_InhYL0ozyy0Sef4cNqICV7wL" alt="picture"></ion-img>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- option B -->
  <ion-modal
    trigger="open-hs-wm"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-label>Hairstyle women</ion-label>
           <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1DKLBIaESxA52O5p6V33xB6szhpPsQsKH" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1cNJztQXWJpezMio4Bk56PBMlX2zFvkhh" alt="here"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1hW6vu3npKzZNcqFnZ9uB6Q65GoBwKaw5" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1ALRqK8iodwIoNGi_2SGkxaHMGN55CCal" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1R6AuvrykQR9Rv7qjWhMhdkD6g82crSU0" alt="here"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1tgMmW-nqionm7KgvyS0hYYPnQwcizaIh" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=15mtLmDZDjgWT0ZWtJovbH68zk0NE9aXT" alt="picture"></ion-img>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- option C -->
  <ion-modal
    trigger="open-hc-mn"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-label>Haircolor men</ion-label>
          <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1a6vfjdDkANdL2_uz1f32gXgZ42fkT9v0" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=17AXNy7rtZREnXLKpUdK00sK1BOKVzkjx" alt="here"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=18BdA6IETFoWjXSNgqL0zjKRhcL-Oyl9L" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=17M21prQxQqgmNu6omFnzM-XBFQzXKO4n" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1VhDLXaALAGWEM_tKq63AnNtPVHz0UuvY" alt="here"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1WYwYu0i6bbD9ivtn8PXFuQJKFdxJfqdo" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1A9fNrXPKH6bPPrvDyctEyHKTqJO_k5ce" alt="picture"></ion-img>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- option D -->
  <ion-modal
    trigger="open-hs-mn"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-label>Hairstyle men</ion-label>
          <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=166QERZu0RGC_9o_p5ULKJ18vaBg4QHdb" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1OIm_r5WvTzUrmcedmskur9MBnE-DY7Dt" alt="here"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1vZlWkDaRic7RcRnFRpQLK3IzbB5DWnti" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1nMYFXBmCQuO2tXZcqxbNdoCDwKp7ePC2" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1QzkZLyTdDF5_teeHo8Rbrt7x4ZX_PphU" alt="here"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1nzG3PrzWC_MQeCBeHHj9nHbj6K73KtET" alt="picture"></ion-img>
            </ion-slide>

            <ion-slide  style="width: 60px; height: 60px; border: 2px solid #f8f8f8">
                <ion-img style="pointer-events:none" src="https://drive.google.com/uc?id=1IR_FxEqjEbEu4JdMkCXXQMoyH_zTOIoz" alt="picture"></ion-img>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>





