.ion-align-items-center{
	padding-left: 5%;
}

#email-text{
	text-decoration: underline;
}

#gallery-btn{
	font-size: 12px;
}

ion-icon #notification-icon{
	font-size: 24px;
}

ion-header ion-title{
	text-align:left;
	padding: 0 0 0 15px;
}

p{
	font-size: 12px;
	white-space: normal;
}

p #price-list {
	font-weight: bold;
}
